package templates

templ Process(name string, workspace string, time string) {
	<div class="border-solid border-black border-2 flex grow justify-start">
		<p>
			{ name }
		</p>
		<p>
			{ workspace }
		</p>
		<p>
			{ time }
		</p>
	</div>
}
